@font-face {
  font-family: myFirstFont;
  src: url("/home/mnoroozi/final-project/backend/client/src/font/BYekan+.ttf");
}

@font-face {
  font-family: myFirstFont;
  src: url("/home/mnoroozi/final-project/backend/client/src/font/BYekanBold.ttf");
  font-weight: bold;
}
.App {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}

#navbar {
  overflow: hidden;
  background-color: #ffffff;
  border-left-width: 80%;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid #b22222;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  padding-left: 30px;
}

/* Links on mouse-over */
#navbar a:hover {
  color: #b22222;
  text-decoration: none;
  font-weight: none;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  display: inline-block;
}

#help {
  font-family: "Shabnam", sans-serif;
  width: 60px;
  float: right;
  display: inline-block;
}
#help a:hover {
  color: #b22222;
  text-decoration: none;
  font-weight: none;
}

#register {
  font-family: "Shabnam", sans-serif;
  width: 60px;
  float: right;
  display: inline-block;
  padding-right: 30px;
}

#register a:hover {
  color: #b22222;
  text-decoration: none;
  font-weight: none;
}

#login {
  font-family: "Shabnam", sans-serif;
  width: 60px;
  float: right;
  display: inline-block;
  border-left: 2px solid #808080;
  height: 45px;
}

#login a:hover {
  color: #b22222;
  text-decoration: none;
  font-weight: none;
}

.socialmedia {
  /*border-top: #dddddd solid 1px;*/
  background-color: #191919;
  padding-top: 2%;
  padding-bottom: 0.6%;
}
.socialmedia div {
  display: inline;
}
.icons {
  padding-top: 2%;
  margin-left: 14%;
  font-size: 20px;
  color: #878787;
}
.fab {
  margin: 1% 1% 1% 1%;
  color: #878787;
}

.socialtext {
  color: #878787;
  padding-top: 4%;
  margin-left: 36%;
  font-size: 15px;
}
.bottombar {
  background-color: #202020;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.bottom-grid {
  background-color: #202020;
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 30%;
  /*grid-template-rows: 150% 150% 150% 150%;*/
  grid-column-gap: 2%;
  margin: 0 5% 0 5%;
  padding: 4% 10% 5% 10%;
  color: #858585;
}
.bottomitem {
  background-color: #202020;
  margin: 0 0 0 0;
  text-align: right;
}

.bottomitem1 {
  border-top: 3px solid #ae9040;
}
.bottomitem2 {
  border-top: 3px solid #8c242c;
}
.bottomitem3 {
  border-top: 3px solid #7a2345;
}
.bottomitem4 {
  border-top: 3px solid #581766;
}

.bottombar a {
  display: block;
  margin: 0 0 0 0;
  color: #858585;
  text-decoration: none;
}

.bottomitem5 a {
  color: cornflowerblue;
}
.bottombar h4 {
  color: white;
  margin: 10px 0 10px 0;
}

.bottomitem1 img {
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  height: 40%;
  width: 80%;
}
.logobar {
  margin: 20px 0 0 0;
  align-content: center;
  align-items: center;
  padding-left: 40%;
  padding-bottom: 5%;
}
.logo {
  display: inline;
}
.logo img {
  height: 120px;
  width: 110px;
}

#bgpic {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  width: 100%;
  height: 100%;
}
.Landing {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}
.restinfo {
}

.introrest {
  position: relative;
  top: 100px;
  background-color: white;
  text-align: center;
  align-content: center;
  margin-left: 20%;
  margin-right: 20%;
}
.firstpart {
  /* padding-top: 10%; */
  padding-right: 27%;
  padding-left: 27%;
}
.star-rate {
  padding: 0px 0px 0px 0px;
  display: inline-block;
  font-size: small;
}
.stars-inner {
  /* width: 50%; */
}
.before {
  display: inline-block;
  font-size: small;
  color: #777777;
}
.after {
  display: inline-block;
  font-weight: bold;
  color: orange;
  font-size: small;
}
.ratingbox {
  /* padding: 1% 0px 1% 0px; */
}
.tabbar {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* background-color: #7a2345; */
  justify-content: center;
  align-content: center;
  place-content: center;
}
.innertab {
  text-align: center;
  width: 100%;
  /* font-family: "Shabnam", sans-serif; */
  background-color: white;
  border: none;
  /* border-radius: 15px; */
  font-size: 14px;
  color: #808080;
  padding: 15px;
}
.innertab:focus {
  border-bottom: mediumvioletred solid 1px;
}
.tab {
  text-align: center;
  align-content: center;
}
.secondpart {
  margin-top: 18%;
  background-color: aquamarine;
}
#restpic {
  position: relative;
  top: -30px;
  border: solid skyblue 3px;
}
.searchInput {
  text-align: right;
  margin-left: 22%;
  /* margin-right: 30%; */
  padding-bottom: 0.1%;
  padding-top: 0.1%;
  border: none;
  text-align: right;
  background-color: #f8f8fa;
  width: 54%;
  height: 3%;
  border: none;
  /* border-radius: 5px; */
  /* margin-bottom: 40px; */
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: red solid 2px;
  text-decoration: none;
  font-size: 15px;
}
.menuSearch {
  padding-bottom: 0.2%;
}
.foods {
  margin-top: 10%;
  margin-left: 18%;
  margin-right: 10%;
  padding: 0;
  display: grid;
  grid-template-columns: 81% 10%;
  background-color: palevioletred;
  justify-content: center;
  align-content: center;
  place-content: center;
  text-align: right;
}
.catfoods {
  display: grid;
  background-color: violet;
  justify-content: center;
  align-content: center;
  place-content: center;
  text-align: right;
  padding-left: 2%;
  padding-right: 2%;
}
.fooditems {
  background-color: greenyellow;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 3%;
  padding-left: 2%;
  padding-right: 2%;
}
.catlist {
  text-align: right;
}
.innercatlist {
  background-color: skyblue;
  /* margin-left: 120%; */
  text-align: right;
}
.food {
  padding: 3%;
  background-color: yellow;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(219, 215, 219, 1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(219, 215, 219, 1);
  box-shadow: 0px 0px 3px 1px rgba(219, 215, 219, 1);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}
.price {
  display: inline;
  font-weight: bold;
  float: left;
}
.foodname {
  display: inline;
  font-weight: bold;
}
.hinfo {
  margin-left: 22%;
  /* margin-right: 30%; */
  padding-bottom: 0.1%;
  padding-top: 0.1%;
  border: none;
  text-align: right;
  background-color: #f8f8fa;
  width: 58%;
  height: 3%;
  border: none;
  /* border-radius: 5px; */
  /* margin-bottom: 40px; */
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: red solid 2px;
  text-decoration: none;
  font-size: large;
}
#toppic {
  width: 100%;
}

/* all rests */
.description {
  text-align: right;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-bottom: solid 2px red;
}
.divsearch {
  margin-top: 2%;
  border: solid 2px red;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(219, 215, 219, 1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(219, 215, 219, 1);
  box-shadow: 0px 0px 3px 1px rgba(219, 215, 219, 1);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;

  margin-left: 50%;
  margin-right: 15%;
  /* background-color: pink; */
}
.divsearch:focus {
  border: solid black 2px;
}
.allsearch {
  text-align: right;
  width: 95%;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 20px;

  border: none;
}
.allser {
  font-size: large;
}
.allsearch:focus {
  border: solid black 2px;
}
.allsecond {
  background-color: greenyellow;
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 3%; */
  /* padding-left: 2%;
  padding-right: 2%; */
}
.allrests {
  background-color: red;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-gap: 3%; */
}
.allrest {
}
.allcatlist {
  background-color: rgb(142, 11, 148);
  display: grid;
}
.allcat {
  border-bottom: #581766 solid 2px;
  /* text-align: right; */
}
.orderbutton {
  background-color: white;
  border: #581766 solid 2px;
  text-decoration: none;
  padding: 3%;
}
.orderbutton:hover {
  border: #581766 solid 10px;
}
.changebody {
  background-color: #581766;
}
/* search bar  */

.intro {
  /* background-image: require(
    "/home/mnoroozi/final-project/backend/client/src/img/home.png"
  );
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  margin: 0;
  padding: 0;
  /* padding: 8% 0% 9% 0%; */
  background-color: white;
}
.innerintro {
  /* text-align: center; */
  background-color: wheat;
  margin: 0;
  padding: 0;
}
#foodpic {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 50%;
}

#home {
  width: 12%;
  height: 12%;
  /*margin-bottom: 3%;*/
}
#intro1 {
  /* font-size: xx-large; */
  /* font-weight: 700; */
  margin-bottom: 0;
  padding-bottom: 0;
}
#intro2 {
  padding-top: 0.5%;
  margin-top: 0;
  margin-bottom: 0.6%;
  color: darkgray;
}

.dropboxes {
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(179, 172, 179, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(179, 172, 179, 1);
  box-shadow: 0px 0px 3px 0px rgba(179, 172, 179, 1);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  /*border: 0px solid #000000;*/
  padding: 0.7% 0% 0.7% 0%;
  margin-left: 20%;
  margin-right: 20%;
}

.drop1 {
  display: inline;
  border: solid red 1px;
  margin-right: 0.1%;
  padding: 2% 2% 2% 0%;
  border-radius: 7px;
}
.drop2 {
  display: inline;
  border: solid blue 1px;
  padding: 2% 2% 2% 2%;
  margin-left: 0.1%;
  border-radius: 7px;
}

#input_container2 {
  display: inline;
  /*background-color: dodgerblue;*/
  background-color: pink;
  /* border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px; */
}
#input2 {
  /* padding: 2% 2% 2% 2%; */
  /*background-color: #d1148f;*/
  background-color: rgb(142, 11, 148);
  /* width: 13%; */
  text-align: right;
  font-size: large;
  color: black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
.intro_icon2 {
  /* font-size: x-large; */
  /*background-color: greenyellow;*/
  /* background-color: white; */
  /*margin-top: 60%;*/
}

#input_container1 {
  display: inline;
  /*background-color: dodgerblue;*/
  /* background-color: skyblue; */
  /* border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px; */
}

#input1 {
  /* padding: 2% 2% 2% 2%; */
  /*background-color: #d1148f;*/
  background-color: white;
  /* width: 57.5%; */
  text-align: right;
  /*font-weight: bold;*/
  color: gray;
  font-size: large;
  /* border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000; */
}
.intro_icon1_1 {
  /* font-size: 25px; */
  /*background-color: #d1148f;*/
  /*background: linear-gradient(to right,*/
  /*rgb(182,12,89) 0%,*/
  /*rgb(197,10,92) 16.67%,*/
  /*rgb(182, 19, 92) 33.33%,*/
  /*rgb(183, 17, 103) 50%,*/
  /*rgb(170, 1, 143) 66.67%,*/
  /*rgb(165,11, 130) 83.33%,*/
  /*rgb(151,4,151) 100%);*/
  /* background: linear-gradient(to right, rgb(182, 12, 89), rgb(142, 11, 148)); */
  /* padding: 1.5% 1.8% 2.5% 1.8%; */
  /* color: white; */
  /* border-radius: 7px 0px 0px 7px; */
  /*margin-top: 3%;*/
}
.intro_icon1_2 {
  /* font-size: x-large; */
  background-color: white;
  color: lightgray;
}
.searchbar {
  align-content: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 4%;
  width: 100%;
}

#searchbarbutt {
  /* background-color: #7a2345; */
  text-decoration: none;
}
